<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= player.team_id %>
  </p>

  <p>
    <strong>Points per game:</strong>
    <%= player.points_per_game %>
  </p>

  <p>
    <strong>Assists per game:</strong>
    <%= player.assists_per_game %>
  </p>

  <p>
    <strong>Rebounds per game:</strong>
    <%= player.rebounds_per_game %>
  </p>

</div>
